<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.detailflow">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DetailFlow">
        <activity
            android:name=".activities.RunListActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.DetailFlow.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.RunDetailActivity"
            android:label="@string/title_item_detail"
            android:parentActivityName=".activities.RunListActivity"
            android:theme="@style/Theme.DetailFlow.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.detailflow.activities.RunListActivity" />
        </activity>
    </application>

</manifest>